@font-face {
  font-family: 'Lily Script One';
  font-weight: 400;
  font-style: normal;
  src: url("http://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPFuTgT7He_T1DF6rp02aEO4.eot");
  src: url("http://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPFuTgT7He_T1DF6rp02aEO4.eot?#iefix") format('embedded-opentype'), local('Lily Script One'), local('Lily-Script-One-regular'), url("http://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPJbhOpL-vLTkIjCTuVYsuO0.woff2") format('woff2'), url("http://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPAaS65eljNVkG0R6HbhLwtY.woff") format('woff'), url("http://fonts.gstatic.com/s/lilyscriptone/v4/uPWsLVW8uiXqIBnE8ZwGPO921tOcMok2fHawGmtxikA.ttf") format('truetype'), url("http://fonts.gstatic.com/l/font?kit=uPWsLVW8uiXqIBnE8ZwGPOUK-EeIygXe5LAOHXDZOMs&skey=2f55726c24b3b131&v=v4#LilyScriptOne") format('svg');
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border: none;
  font-family: Georgia;
  color: #fff;
  font-size: 10px;
  background: #d9346b;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}
.btn:hover {
  background: #a65776;
  text-decoration: none;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: #ffa500;
  font-size: 30px;
}
.App-intro {
  font-size: large;
}
.outerCenter {
  text-align: center;
}
.innerCenter {
  display: inline-block;
}
.textAr {
  margin: 20px;
}
h2 {
  vertical-align: bottom;
}
.usnme {
  display: inline-block;
  color: #fff;
  font-family: 'Lily Script One';
  font-weight: lighter;
}
.usnmeNonme {
  display: inline-block;
  font-family: 'Lily Script One';
}
.fader {
  animation: fade-out 1s;
  opacity: 0;
}
.defader {
  animation: fade-in 1s;
  opacity: 1;
}
.newBanner {
  text-align: center;
}
.hello {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.noshow {
  display: none;
}
.place {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  white-space: nowrap;
  width: 300px !important;
  max-width: 300px;
  overflow: hidden !important;
  font-size: 40px;
  text-overflow: ellipsis !important;
}
.overflower {
  white-space: nowrap;
  width: 300px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
